<main class="main">
  <div class="form-container">

    <p-floatLabel variant="on">
      <input pInputText id="text_input" [(ngModel)]="value3" autocomplete="off" />
      <label for="text_input">Enter Text</label>
    </p-floatLabel>
  
    <p-floatLabel variant="on">
      <p-datepicker
        [(ngModel)]="dateValue"
        inputId="date_picker"
        showIcon
        iconDisplay="input"
      ></p-datepicker>
      <label for="date_picker">Select Date</label>
    </p-floatLabel>

    <button pButton type="button" label="Submit"></button>

  </div>
</main>